
<script src="~/js/transportation.js"></script>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid mt-10">
    <div class="row align-items-center">
        <div class="text-left">
            <h1 class="display-4">Welcome</h1>
        </div>
    </div>

    <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div id="boarding-card" class="carousel-inner" role="listbox">
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>



